/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #3273dc;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
section a {
  text-decoration: none;
}
a div.description {
  color: #444;
  text-decoration: none;
}

.hamburger {
  position: relative;
  right: 10px;
  margin-top: 0;
  cursor: pointer;
  background-color: #fff;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #444;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  width: 100%;
  height: 100%;
  /* top: 5rem; */
  top: -0rem;
  /* left: 48px; */
  left: 0;
  background-color: #fff;
  display: none;
  margin: 0;
  position: relative;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links .searchform {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: #8f8f8f;
}

.sidebar {
  display: none;
}

.categories_link {
  display: block;
  text-align: center;
}

.categories_link ul {
  margin: 0;
  padding-left: 0;
}

.categories_link li {
  list-style: none;
}

.categories_button {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.external_link {
  display: block;
  text-align: center;
}

.external_link ul {
  margin: 0;
  padding-left: 0;
}

.external_link li {
  list-style: none;
}

.external_link_button {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.post {
  margin-bottom: 2em;
}
.post h2 {
  margin: 0;
}

.published_time_span {
  font-size: 13px;
}

.published_time_span time {
  font-style: italic;
  color: #595959;
}

.category {
  font-size: 15px;
  margin: auto;
}

.category a {
  margin: 8px;
  /* padding: 8px; */
}

.description {
  margin: 0;
}

.expanded {
  display: unset;
}

.close {
  display: block;
  position: relative;
  /* width: 30px; */
  height: 30px;
}

.close::before,
.close::after {
  /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px; /* 棒の幅（太さ） */
  height: 30px; /* 棒の高さ */
  background: #333;
}

.close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.spans {
  padding: 8px 0px;
}

.newer_home_older {
  width: 100%;
}

.newer_home_older ul {
  padding-inline-start: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

.newer_home_older ul li {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.newer_home_older ul li div {
  display: flex;
}

.newer_home_older ul li div > a {
  margin: 0 auto;
}

.newer > span {
  margin: 0 0 0 auto;
}

.older > span {
  margin: 0 auto 0 0;
}

.pagination {
}

.pagination ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-inline-start: 0px;
}

.pagination ul li {
  display: inline-block;
  list-style: none;
}

.table_of_content_wrapper {
  border-radius: 5px;
  background-color: #f7f7fc;
  padding: 20px;
  margin-bottom: 40px;
}

.table_of_content_title {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px;
}

.table_of_content_lists {
  list-style: none;
}

.table_of_content_list {
  padding: 5px 0;
  font-size: 14px;
  border-bottom: 1px solid #e7e7f3;
}

.table_of_content_list::before{
  content: "-";
  margin-right: 5px;
  color: #cacae7;
}

.table_of_content_list.h2 {
  margin-left: 10px;
}

.table_of_content_list.h3 {
  margin-left: 20px;
}

.table_of_content_list.h4 {
  margin-left: 30px;
}

.table_of_content_list.h5 {
  margin-left: 40px;
}

.table_of_content_list.h6 {
  margin-left: 50px;
}

.table_of_content_list a{
  color: #2b2c30;
  text-decoration: none;
}

.page-item.disabled-button.d-none {
  display: none;
}

.tweet a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-decoration: none;
  color: #1DA1F2;
}

.tweet a img {
  height: 20px;
  width: 20px;
  padding: 1px;
  background-color:#fff;
}

.rss a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 8px;
  text-decoration: none;
}

.facebook a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-decoration: none;
  color: #1877f2;
}

.line a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-decoration: none;
  color: #06C755;
}

.pocket a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-decoration: none;
  color: #d3505a;
}

.feedly a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-decoration: none;
}

.feedly img {
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 636px) {
  /*.nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }*/

  /*.nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }*/

  /* .hamburger {
    padding-right: 0;
  } */

  /*.close {
    display: none;
  }*/

  .categories_button {
    padding: 15px 20px;
    display: inline-block;
    position: static;
    width: auto;
    background: none;
  }

  .categories_link {
    display: block;
    text-align: center;
  }

  .expanded {
    display: unset;
  }
}

@media screen and (min-width: 960px) {
  body {
    max-width: 80ch;
  }

  .main {
    display: flex;
  }

  .contents {
    width: 80%;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .sidebar {
    display: unset;
    width: 20%;
  }

  .sidebar ul {
    padding-inline-start: unset;
    list-style-type: none;
  }

  .sidebar a {
    text-decoration: none;
  }

  .searchform-text {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 90ch;
  }
}

/* @media screen and (min-width: 2560px) {
  body {
    max-width: 90ch;
  }
} */
