/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
a {
	color: #3273dc;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
section a {
	text-decoration: none;
}
a div.description {
	color: #444;
	text-decoration: none;
}

.hamburger {
  position: relative;
  right: 10px;
  margin-top: 0;
  cursor: pointer;
  background-color: #fff;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #444;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.nav-links {
  width: 100%;
  height: 100%;
  /* top: 5rem; */
  top: -0rem;
  /* left: 48px; */
  left: 0;
  background-color: #fff;
  display: none;
  margin: 0;
  position: relative;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links .searchform {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #8f8f8f;
}

.sidebar {
  display: none;
}

.categories_link {
  display: block;
  text-align: center;
}

.categories_link ul {
  margin: 0;
  padding-left:0;
}

.categories_link li {
  list-style:none;
}

.categories_button {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.external_link {
  display: block;
  text-align: center;
}

.external_link ul {
  margin: 0;
  padding-left:0;
}

.external_link li {
  list-style:none;
}

.external_link_button {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.post {
  margin-bottom: 2em;
}
.post h2 {
  margin: 0;
}

.published_time_span {
  font-size: 12px;
}

.published_time_span time {
  font-style: italic;
  color: #595959;
}

.category {
  font-size: 13px;
  margin:auto 0.5em;
}

.description {
  margin: 0;
}

.expanded {
  display: unset;
}

.close {
  display: block;
  position: relative;
  /* width: 30px; */
  height: 30px;
}

.close::before, .close::after { /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px; /* 棒の幅（太さ） */
  height: 30px; /* 棒の高さ */
  background: #333;
}

.close::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}


@media screen and (min-width: 636px) {
  /*.nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }*/

  /*.nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }*/

  /* .hamburger {
    padding-right: 0;
  } */

  /*.close {
    display: none;
  }*/
  
  .categories_button {
    padding: 15px 20px;
    display: inline-block;
    position: static;
    width: auto;
    background: none;
  }

  .categories_link {
    display: block;
    text-align: center;
  }

  .expanded {
    display: unset;
  }
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 80ch;
  }

  main {
    display: flex;
  }

  .contents {
    width:80%;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .sidebar {
    display: unset;
    width: 20%;
  }

  .sidebar ul {
    padding-inline-start: unset;
    list-style-type: none;
  }

  .sidebar a {
    text-decoration: none;
  }

  .searchform-text {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 90ch;
  }
}

/* @media screen and (min-width: 2560px) {
  body {
    max-width: 90ch;
  }
} */