---
import HeaderLink from "./HeaderLink.astro";
//microCMS呼び出し
import { cmsBlog } from "../library/microcms";

const { contents: accounts } = await cmsBlog.getAccounts({
  fields: ["title", "url"],
});
---

<ul>
  {
    accounts.map((account: any) => (
      <li>
        <HeaderLink
          href={account.url}
          target="_blank"
          rel="noopener noreferrer me"
        >
          {account.title}
        </HeaderLink>
      </li>
    ))
  }
</ul>
