<div class="h-card">
  <img
    class="u-photo"
    src="https://images.microcms-assets.io/assets/8026aec5aaba42abb48e90c99ce4967d/8cc219d59b384c528d4a8f0a9ba55c75/Symbol_of_Asamiya_Boxing_Gym_ver_5.png?fm=webp&fit=crop&crop=top&w=128&h=143"
    alt=""
  />
  <p>
    <strong
      ><a class="u-url u-uid p-name" rel="me" href="/">朝宮ジム記録保管庫</a
      ></strong
    >
  </p>
  <p class="p-note">女子ボクシング系一次創作サイト</p>
  <p style="display:none;">
    <a href="acct:vermilion3.xyz@vermilion3.xyz" class="u-url"
      >ActivityPubアカウント</a
    >
  </p>
</div>
