---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';

//microCMS呼び出し
import { getCategories } from "../library/microcms";
const { contents: categories } = await getCategories({ fields: ["id","name"],orders: 'name' },);
---

<header>
	<div class="navbar">
		<h2 class="site_title">
			{SITE_TITLE}
		</h2>
		<nav>
			<div class="nav-links">
				<span class="close"></span>
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
				<details class="categories_link">
					<summary class="categories_button">
						Categories
					</summary>
						<ul>
							{
								categories.map((category:any) => (
									<li>
										<HeaderLink href={`/category/${category.id}`}>{category.name}</HeaderLink>
									</li>	
								))
							}
						</ul>
				</details>
			</div>
		</nav>
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
	</div>
</header>
<style>
	header {
		width: 100%;
		/* margin: 0em 0 2em; */
		max-width: 65ch;
		position: fixed;
		top: 0;
		background-color: #fff;
	}
	h2 {
		margin: 0.5em 0;
	}
	.site_title {
		/*display: inline;*/
	}
</style>
