<div class="searchform">
    <form action="/search" method="get">
        <input type="text" name="q" class="searchform-text">
        <input type="submit" value="検索" class="searchform-submit">
    </form>
</div>