<div class="searchform">
    <form action="/search" method="get">
        <label for="searchform-text">サイト内検索</label>
        <input id="searchform-text" type="text" name="q" class="searchform-text">
        <input type="submit" value="検索" class="searchform-submit">
    </form>
</div>